<div id="page_content">
    <div id="page_content_inner">
        <form action="" class="uk-form-stacked" id="user_edit_form">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-7-10">
                    <div class="md-card">
                        <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                            <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <a href="#Profile" data-uk-modal>
                                        <img alt="No Image found" data-ng-src="data:image/png;base64,{{user_data.customerPhoto}}" data-err-src="home/img/profile.png">
                                    </a>
                                </div>
                                <div class="user_avatar_controls">
                                    <span class="btn-file">
                                            <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                    <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                    <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control">
                                    </span>
                                    <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                </div>
                            </div>
                            <div id="Profile" class="uk-modal">
                                <div class="uk-modal-dialog uk-modal-dialog-large">
                                    <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
                                    <img style="width:100%" data-ng-src="data:image/jpeg;charset=utf-8;base64,{{user_data.customerPhoto}}" alt="">
                                </div>
                            </div>
                            <div class="user_heading_content">
                                <h2 class="heading_b">
                                    <span class="uk-text-truncate" id="user_edit_uname">{{user_data.applicantName}}</span>
                                    <span class="sub-heading" id="user_edit_position">{{user_data.designation}}</span>
                                </h2>
                            </div>
                            <div class="md-fab-wrapper">
                                <div class="md-fab-wrapper">
                                    <button type="button" class="md-fab md-fab-primary" ng-click="Update(user_data)">
                                        <i class="material-icons"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="user_content">
                            <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content' , animation:'slide-horizontal'}">
                                <li class="uk-active"><a href="#">Profile</a></li>
                                <li><a href="#">Billing Address</a></li>
                                <li><a href="#">Connectivity Details</a></li>
                                <li><a href="#">Document Details</a></li>
                            </ul>
                            <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                                <li>
                                    <div class="uk-margin-top">
                                        <h3 class="full_width_in_card heading_c">
                                            Personal Details
                                        </h3>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-1">
                                                <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                            </span>
                                                            <label>Application Number</label>
                                                            <input type="text" class="md-input" name="user_edit_apli" ng-model="user_data.applicationNumber" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                            </span>
                                                            <label>Contact Person/User</label>
                                                            <input type="text" class="md-input" name="user_edit_contact" ng-model="user_data.contactPerson" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                            </span>
                                                            <label>Designation</label>
                                                            <input type="text" class="md-input" name="user_edit_designation" ng-model="user_data.designation" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                            </span>
                                                            <label>Date of Birth</label>
                                                            <input type="text" class="md-input" name="user_edit_dob" ng-model="user_data.dateOfBirth" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-linkedin"></i>
                                                            </span>
                                                            <label>Pan Number</label>
                                                            <input type="text" class="md-input" name="user_edit_Pan Number" ng-model="user_data.panNo" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Marital Status</label>
                                                            <input type="text" class="md-input" name="user_edit_Marital Status" ng-model="user_data.maritalStatus" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Nationality</label>
                                                            <input type="text" class="md-input" name="user_edit_Nationality" ng-model="user_data.nationality" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Customer Status</label>
                                                            <input type="text" class="md-input" name="user_edit_status" ng-model="user_data.status" md-input />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="full_width_in_card heading_c">
                                            Connectivity Address
                                        </h3>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-1">
                                                <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                            </span>
                                                            <label>Street 1</label>
                                                            <input type="text" class="md-input" name="user_edit_Street 1" ng-model="user_data.connAddress1" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                            </span>
                                                            <label>Street 2</label>
                                                            <input type="text" class="md-input" name="user_edit_Street 2" ng-model="user_data.connAddress1" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                            </span>
                                                            <label>City</label>
                                                            <input type="text" class="md-input" name="user_edit_City" ng-model="user_data.connCity" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-linkedin"></i>
                                                            </span>
                                                            <label>Pin code</label>
                                                            <input type="text" class="md-input" name="user_edit_Pin code" ng-model="user_data.connPinCode" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Landmark</label>
                                                            <input type="text" class="md-input" name="user_edit_Landmark" ng-model="user_data.connLandmark" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Mobile Number</label>
                                                            <input type="text" class="md-input" name="user_edit_mobile" ng-model="user_data.connMobile" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Landline</label>
                                                            <input type="text" class="md-input" name="user_edit_landline" ng-model="user_data.connLandline" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                            </span>
                                                            <label>Email</label>
                                                            <input type="text" class="md-input" name="user_edit_Email" ng-model="user_data.connEmail" md-input />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="uk-margin-top">
                                        <h3 class="full_width_in_card heading_c">
                                            Billing Address
                                        </h3>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-1">
                                                <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                            </span>
                                                            <label>Street 1</label>
                                                            <input type="text" class="md-input" name="user_edit_Street 1" ng-model="user_data.billAddress1" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                            </span>
                                                            <label>Street 2</label>
                                                            <input type="text" class="md-input" name="user_edit_Street 2" ng-model="user_data.billAddress2" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                            </span>
                                                            <label>City</label>
                                                            <input type="text" class="md-input" name="user_edit_City" ng-model="user_data.billCity" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-linkedin"></i>
                                                            </span>
                                                            <label>Pin code</label>
                                                            <input type="text" class="md-input" name="user_edit_Pin code" ng-model="user_data.billPinCode" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Landmark</label>
                                                            <input type="text" class="md-input" name="user_edit_Landmark" ng-model="user_data.billLandmark" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Mobile Number</label>
                                                            <input type="text" class="md-input" name="user_edit_mobile" ng-model="user_data.billMobile" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Landline</label>
                                                            <input type="text" class="md-input" name="user_edit_landline" ng-model="user_data.billLandline" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                            </span>
                                                            <label>Email</label>
                                                            <input type="text" class="md-input" name="user_edit_Email" ng-model="user_data.billEmail" md-input />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="full_width_in_card heading_c">
                                            Connectivity Details
                                        </h3>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-1">
                                                <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                            </span>
                                                            <label>Connectivity location</label>
                                                            <input type="text" class="md-input" name="user_edit_location" ng-model="user_data.connLocation" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                            </span>
                                                            <label>Plan Type</label>
                                                            <input type="text" class="md-input" name="user_edit_plantype" ng-model="user_data.planType.planDescr" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                            </span>
                                                            <label>Plan</label>
                                                            <input type="text" class="md-input" name="user_edit_plan" ng-model="user_data.plan.descr" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-linkedin"></i>
                                                            </span>
                                                            <label>No. Static IP</label>
                                                            <input type="text" class="md-input" name="user_edit_ip" ng-model="user_data.staticIpCount" md-input />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="uk-margin-top">
                                        <h3 class="full_width_in_card heading_c">
                                           Payment Details
                                        </h3>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-1">
                                                <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                            </span>
                                                            <label>Insatallation Cost</label>
                                                            <input type="text" class="md-input" name="user_edit_icost" ng-model="user_data.installationCost" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                            </span>
                                                            <label>Activation Cost</label>
                                                            <input type="text" class="md-input" name="user_edit_acost" ng-model="user_data.activationCost" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                            </span>
                                                            <label>Subscription cost</label>
                                                            <input type="text" class="md-input" name="user_edit_scost" ng-model="user_data.subscriptionCost" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-linkedin"></i>
                                                            </span>
                                                            <label>Other Cost</label>
                                                            <input type="text" class="md-input" name="user_edit_ocost" ng-model="user_data.otherCost" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Mode of Payment</label>
                                                            <input type="text" class="md-input" name="user_edit_mode" ng-model="user_data.modeOfPayment" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Cheque</label>
                                                            <input type="text" class="md-input" name="user_edit_Cheque" ng-model="user_data.chequeNo" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Cheque Date</label>
                                                            <input type="text" class="md-input" name="user_edit_cdate" ng-model="user_data.chequeDate" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                            </span>
                                                            <label>Status</label>
                                                            <input type="text" class="md-input" name="user_edit_Status" ng-model="user_data.status" md-input />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="full_width_in_card heading_c">
                                            Installation Details
                                        </h3>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-1">
                                                <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                            </span>
                                                            <label>IP Address</label>
                                                            <input type="text" class="md-input" name="user_edit_ip" ng-model="installation_details.ipAddress" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                            </span>
                                                            <label>Type Of Connectivity</label>
                                                            <input type="text" class="md-input" name="user_edit_tcon" ng-model="installation_details.typeOfConnectivity" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                            </span>
                                                            <label>Serial Or Mac</label>
                                                            <input type="text" class="md-input" name="user_edit_serial-mac" ng-model="installation_details.serialOrMac" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-linkedin"></i>
                                                            </span>
                                                            <label>Power Or Signal Level</label>
                                                            <input type="text" class="md-input" name="user_edit_level" ng-model="installation_details.powerOrSignalLevel" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Port No</label>
                                                            <input type="text" class="md-input" name="user_edit_Port No" ng-model="installation_details.portNo" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Start Meter Reading</label>
                                                            <input type="text" class="md-input" name="user_edit_sreading" ng-model="installation_details.startMeterReading" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>End Meter Reading</label>
                                                            <input type="text" class="md-input" name="user_edit_ereading" ng-model="installation_details.endMeterReading" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                            </span>
                                                            <label>Total Meter Reading</label>
                                                            <input type="text" class="md-input" name="user_edit_treading" ng-model="installation_details.totalMeterReading" md-input />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="full_width_in_card heading_c">
                                            Documents Uploaded
                                        </h3>
                                    <div id="user_profile_gallery" data-uk-check-display class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4" data-uk-grid="{gutter: 4}">
                                        <div>
                                            <a href="#pan-card" data-uk-modal>
                                                <img data-ng-src="data:image/jpeg;charset=utf-8;base64,{{user_data.panCard}}" alt="" />
                                            </a>
                                        </div>
                                        <div>
                                            <a href="#form-60" data-uk-modal>
                                                <img data-ng-src="data:image/jpeg;charset=utf-8;base64,{{user_data.form60}}" alt="" />
                                            </a>
                                        </div>
                                        <div>
                                            <a href="#passport" data-uk-modal>
                                                <img data-ng-src="data:image/jpeg;charset=utf-8;base64,{{user_data.passport}}" alt="" />
                                            </a>
                                        </div>
                                        <div>
                                            <a href="#adhar-card" data-uk-modal>
                                                <img data-ng-src="data:image/jpeg;charset=utf-8;base64,{{user_data.aadharCard}}" alt="" />
                                            </a>
                                        </div>
                                        <div>
                                            <a href="#signature" data-uk-modal>
                                                <img data-ng-src="data:image/jpeg;charset=utf-8;base64,{{user_data.customerSignature}}" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div id="pan-card" class="uk-modal">
                                        <div class="uk-modal-dialog uk-modal-dialog-large">
                                            <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
                                            <img style="width:100%;" data-ng-src="data:image/jpeg;charset=utf-8;base64,{{user_data.panCard}}" alt="">
                                        </div>
                                    </div>
                                    <div id="form-60" class="uk-modal">
                                        <div class="uk-modal-dialog uk-modal-dialog-large">
                                            <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
                                            <img style="width:100%;" data-ng-src="data:image/jpeg;charset=utf-8;base64,{{user_data.form60}}" alt="">
                                        </div>
                                    </div>
                                    <div id="passport" class="uk-modal">
                                        <div class="uk-modal-dialog uk-modal-dialog-large">
                                            <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
                                            <img style="width:100%;" data-ng-src="data:image/jpeg;charset=utf-8;base64,{{user_data.passport}}" alt="">
                                        </div>
                                    </div>
                                    <div id="adhar-card" class="uk-modal">
                                        <div class="uk-modal-dialog uk-modal-dialog-large">
                                            <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
                                            <img style="width:100%;" data-ng-src="data:image/jpeg;charset=utf-8;base64,{{user_data.aadharCard}}" alt="">
                                        </div>
                                    </div>
                                    <div id="signature" class="uk-modal">
                                        <div class="uk-modal-dialog uk-modal-dialog-large">
                                            <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
                                            <img style="width:100%;" data-ng-src="data:image/jpeg;charset=utf-8;base64,{{user_data.customerSignature}}" alt="">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
